$lightBlue: #80bdff57;
$buttonColor: #69b2ff;

.main {
  @media (max-width: 768px) {
    .row {
      margin-left: 0 !important;
    }
  }
  .search-field {
    margin-bottom: 30px;
    .col-sm-9 {
      padding: 0;
      .input-group {
        height: 100%;
        div.input-group-prepend {
          margin-right: 0;
          span#basic-addon1 {
            background-color: $lightBlue;
            border: 0;
          }
        }
        input.form-control {
          border: 0;
          background-color: $lightBlue;
        }
      }
    }
    .col-sm-3 {
      padding: 0;
      .row {
        justify-content: flex-end;
        margin: 0;
        .btn-primary {
          background: $buttonColor;
          border-color: $buttonColor;
          font-size: 0.8em;
          height: 100%;
        }
        @media (max-width: 565px) {
          .btn-primary {
            margin-top: 10px;
          }
        }
      }
    }
    @media (min-width: 576px) {
      div.col-sm-9 {
        max-width: 100%;
        flex-basis: 100%;
        margin-bottom: 10px;
      }
      div.col-sm-3 {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    @media (min-width: 768px) {
      div.col-sm-9 {
        max-width: 75%;
        flex-basis: 75%;
      }
      div.col-sm-3 {
        max-width: 25%;
        flex-basis: 25%;
      }
    }
    @media (min-width: 990px) {
      div.col-sm-9 {
        max-width: 80%;
        flex-basis: 80%;
      }
      div.col-sm-3 {
        max-width: 20%;
        flex-basis: 20%;
      }
    }
    @media (min-width: 1200px) {
      div.col-sm-9 {
        max-width: 82%;
        flex-basis: 82%;
      }
      div.col-sm-3 {
        max-width: 18%;
        flex-basis: 18%;
      }
    }
  }
 div.categories {
    justify-content: space-between;
    h4 {
      font: {
        size: 1.0em;
        weight: 800;
      }
    }
  }
}
@media (max-width: 576px) {
  .main {
    padding-left: 0;
  }
}