$lightBlue: #80bdff57;
$buttonColor: #69b2ff;

.main {
  .search-field {
    margin-bottom: 30px;
    .col-sm-9 {
      padding: 0;
      .input-group {
        height: 100%;
        div.input-group-prepend {
          margin-right: 0;
          span#basic-addon1 {
            background-color: $lightBlue;
            border: 0;
          }
        }
        input.form-control {
          border: 0;
          background-color: $lightBlue;
          height: 100%;
        }
      }
    }
    .col-sm-3 {
      padding: 0;
      .row {
        justify-content: flex-end;
        margin: 0;
        .btn-primary {
          background: $buttonColor;
          border-color: $buttonColor;
          font-size: 0.8em;
          height: 100%;
        }
        @media (max-width: 565px) {
          .btn-primary {
            margin-top: 10px;
          }
        }
      }
    }
  }
 div.categories {
    justify-content: space-between;
    h4 {
      font: {
        size: 1.0em;
        weight: 800;
      }
    }
  }
}