$lightBlue: #69b2ff;

div.emoji-wrapper {
  justify-content: space-between;
  margin-top: 20px;
  .col {
    padding: 0;
    flex-grow: 0;
    cursor: pointer;
    div.content {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $lightBlue;
      border-radius: 10px;
      width: 3em;
      height: 3em;
    }
    div.content:hover {
      background: #69b2ff;
    }
    p.text {
      font: {
        size: 0.7em;
        weight: 800;
      }
      color: gray;
      text-align: center;
      margin-top: 10px;
    }
    p.text:hover {
      color: #69b2ff;
    }
  }
}
