div.statistics-container {
  justify-content: space-between;
  margin-top: 25px;
  padding: 0;
  div.items {
    margin-bottom: 25px;
    div.header {
      justify-content: space-between;
      h4 {
        font: {
          size: 1.0em;
          weight: 800;
        }
      }
    }
    div.lists {
      margin-top: 15px;
      box-shadow: 20px 20px 40px -20px #80bdff3b;
      padding-top: 25px;
      padding-bottom: 25px;
      ol {
        list-style: none;
        counter-reset: my-awesome-counter;
        width: 100%;
        padding: 0 20px;
        overflow: auto;
        li {
          counter-increment: my-awesome-counter;
          margin-bottom: 20px;
          font-size: 0.8em;
          font-weight: 800;
        }
        li:before {
          content: counter(my-awesome-counter);
          background: #80bdff57;
          padding: 3px 5px;
          border-radius: 50%;
          font-weight: bold;
          margin-right: 10px;
        }
        span {
          background: #80bdff57;
          color: #69b2ff;
          padding: 3px 5px;
          font-size: 0.7em;
          border-radius: 10px;
          float:right;
        }
        .negative {
          background: #ff00003f;
          color: #fa1d1d;
        }
      }
      @media (max-width: 768px) {
        ol {
          padding-left: 0;

        }
      }
      .btn {
        background: #80bdff57;
        border: none;
        color: #69b2ff;
        font-size: 0.8em;
        margin: {
          right: auto;
          left: auto;
        }
      }
    }
  }
  div.sales {
    div.header {
      justify-content: space-between;
      h4 {
        font: {
          size: 1.0em;
          weight: 800;
        }
      }
    }
    div.stats {
      .line {
        display: flex;
        justify-content: space-between;
        margin-top: 15%;
        margin-left: 4.5%;
        margin-right: 4.5%;
        align-items: flex-end;
    }
    .blue {
        width: 5.2px;
        height: 90px;
        background-color: rgb(76, 179, 243);
        border-top-right-radius: 0.9em;
        border-top-left-radius: 0.9em;
    }
    .eight {
        height: 23px;
    }
    .seven {
        height: 40px;
    }
    .nine {
        height: 32px;
    }
    .ten {
        height: 50px;
    }
    }
  }
}